/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

// Links
a {
    text-decoration: none;
    transition: all .3s ease;
    color: $link-color;
    &:hover {
        color: $link-color__hover;
    }
}

// Button
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    cursor: pointer;
}

.button {
    font-size: 1rem;
    font-weight: 700;
    padding: rem(16px) rem(28px);
    color: $font-main__color;
    background: $button-color;
    border: 1px solid transparent;
    border-radius: rem(8px);
    &:hover {
        background: $button-color__hover;
    }
}